{% extends "layout.html" %}

{% block content %}
  <h2>Sobre a Health Step</h2>
  <p>A "HEALT STEP" é uma empresa que busca melhorar o procedimento de atendimento médico-hospitalar por meio de soluções inovadoras acessíveis. Visando estabelecer e ser referência em suas soluções na área da Saúde de São Carlos e região, a "HEALTH STEP" busca em seus produtos transpassar confiabilidade e agilidade em soluções inteligentes.
O HS-001 é uma solução inteligente e acessível que estabelece facilitação nas relações entre paciente-socorrista, socorrista-hospital, paciente-hospital, hospital-médico e médico-farmacêutico de modo integrado e automático.</</p>
{% endblock %}
