{% extends "layout.html" %}

{% block content %}
  <h5>
    <p>Informações do paciente:</p>
      <br>
      <p>Nome: {{ nome }}</p>
      <p>CPF: {{ cpf }}</p>
      <p>Tipo Sanguíneo: {{ sangue }}</p>
      <p>Convênio: {{ convenio }}</p>
      <p>Contato de Emergência: {{ contato }}</p>
      <p>Alergias: {{ alergia }}</p>
      <p>Doenças crônicas: {{ doenca }}</p>
      <p>Medicação controlada: {{ medicacao }}</p>
      <br>
    <p>Histórico de atendimento:</p>
      <p>{{ historico }}</p>

{% endblock %}
